 		body {
			margin: 0px;
			background-image: url(wallpaper.jpg);
			
		}
 		
 		ul {
	font-family: verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

tr,td{
  padding: 10px;
}
h1{
  padding-top: 100px;
  

}

